<div id="gloranthaRuneModal" class="popup">
    <% e.begin_block("gloranthaRunePopup"); %>
        <h1>Insert Gloranthan Rune into this pad</h1>
        <div class="gloranthaRunes">
            <!-- Special Chars here -->
        </div>
    <% e.end_block(); %>
</div>
